
    table.pretty thead th.sorting_asc {
    /*background: #B2B2B2 url('img/sort_asc.png') no-repeat right center;*/
    
    background-image: url('img/sort_asc.png');
    background-color: #B2B2B2;
    
}
 
table.pretty thead th.sorting_desc {
    /*background: #B2B2B2 url('img/sort_desc.png') no-repeat right center;*/
    
    background-image: url('img/sort_desc.png');
    background-color: #B2B2B2;
}
 
table.pretty thead th.sorting {
    /*background: #B2B2B2 url('img/sort_both.png') no-repeat right center;*/
    background-image: url('img/sort_both.png');
    background-color: #B2B2B2;
}

/*
div.dataTables_info {
    float: left;
    background-color: CDCDCD;
}
 
div.dataTables_paginate {
    float: right;
    background-color: CDCDCD;
}
*/

div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate,
div.dataTables_info {
    padding: 6px;
}

/* Footer cells */ 


div.dataTables_wrapper {
    background-color: #fff;
}


   

   /* <style>
    
    div.dataTables_length {
    float: left;
    background-color: red;
}
 
div.dataTables_filter {
    float: right;
    background-color: #719BA7;
}
 
div.dataTables_info {
    float: left;
    background-color: yellow;
}
 
div.dataTables_paginate {
    float: right;
    background-color: yellow;
}
 
div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate,
div.dataTables_info {
    padding: 6px;
}


table.pretty {
    clear: both;
}
 
/* Self clearing - //
div.dataTables_wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .dataTables_wrapper { display: block; }
* html .dataTables_wrapper { height: 1%; }


table.pretty {
    width: 100%;
    clear: both;
}
 
table.pretty td,
table.pretty th {
    padding: 5px;
    border: 1px solid #fff;
}

/* Header cells //
table.pretty thead th {
    text-align: center;
    background: #66a9bd;
}


/* Body cells //
table.pretty tbody th {
    text-align: left;
    background: #91c5d4;
}
 
table.pretty tbody td {
    text-align: center;
    background: #d5eaf0;
}
 
table.pretty tbody tr.odd td {
    background: #bcd9e1;
}


/* Footer cells //
table.pretty tfoot th {
    background: #b0cc7f;
    text-align: left;
}
 
table.pretty tfoot td {
    background: #d7e1c5;
    text-align: center;
    font-weight: bold;
}

div.dataTables_wrapper {
    background-color: #719ba7;
}


table.pretty thead th.sorting_asc {
    background: #66A9BD url('img/sort_asc.png') no-repeat right center;
}
 
table.pretty thead th.sorting_desc {
    background: #66A9BD url('img/sort_desc.png') no-repeat right center;
}
 
table.pretty thead th.sorting {
    background: #66A9BD url('img/sort_both.png') no-repeat right center;
}


a.paginate_button,
a.paginate_active {
    display: inline-block;
    background-color: #608995;
    padding: 2px 6px;
    margin-left: 2px;
    cursor: pointer;
    *cursor: hand;
}
 
a.paginate_active {
    background-color: transparent;
    border: 1px solid black;
}
 
a.paginate_button_disabled {
    color: #3d6672;
}
.paging_full_numbers a:active {
    outline: none
}
.paging_full_numbers a:hover {
    text-decoration: none;
}
 
div.dataTables_paginate span>a {
    width: 15px;
    text-align: center;
}
 
div.dataTables_info {
    padding: 9px 6px 6px 6px;
}


    </style> */