/*
https://codepen.io/taniarascia/pen/dYvvYv/
https://www.sassmeister.com/
https://gist.github.com/taniarascia/56893ff29f64038dca91
*/


@charset "UTF-8";
nav {
  float: none;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  font-size:0.98em;
  /* change gap between menu items */
  padding: 0 3px;
  line-height: 50px;
  /* change top header background colour */
  background: #2A3342;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover 
{
    /* change background colour on mouse hover */
  /* background: #2581DC;*/
 
  background-color:#00C1AE;
  color: #ffffff;
  text-decoration:none;
}
nav ul li a:not(:only-child):after {
  padding-left: 1px;
  content: " ▾";
  
}

nav ul li a:focus
{
    background-color:#00988A;
    color:#fff;
    text-decoration:none;
}

nav ul li ul li 
{
    /* change the width of dropdown menus */
  min-width: 200px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 10px;
  z-index: 1;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;  
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  
}



.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  /*background: #262626;*/
  height: 50px;
  width: 50px;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  /* change three doted  line position on mobile view  */
  top: 150px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  } 
  
}
@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
.navigation {
  height: 50px;
  background: #262626;
}

.nav-container {
  max-width: 100%;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 20px;
  width:40px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}



@media screen and (min-width: 800px) {
  .contentpagemargin {
   margin-top:100px;
  }
}

@media screen and (max-width: 800px) {
  .contentpagemargin2 {
   margin-top:230px;
  }
}








.dropdown-submenu {
    position: relative !important;
   
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    
   /* margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;*/
    
    
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block !important;
     background-color:#293240 !important;
     
     
}

.dropdown-menu li a
{
    background-color:#293240 !important;
   color: #fff !important;
    text-decoration:none;
}

/*
.dropdown-menu li a:hover
{
    background-color:#00988A !important;
    color:#fff;
    text-decoration:none;
}*/




.dropdown-menu  li a:hover 
{
    /* change background colour on mouse hover */
  /* background: #2581DC;*/
 
  background-color:#00988A !important;
  color: #ffffff !important;
  text-decoration:none;
}


.dropdown-menu li a
{
    /* change the width of dropdown menus */
  min-width: 200px;
}
.dropdown-menu li a {
  padding: 10px;
  line-height: 10px;
  z-index: 1;
}



.dropdown-submenu>a:after {
    display: block !important;
    content: " ";
    float: right !important;
    width: 0;
    height: 0;
    color:White !important;
   /* border-color: transparent !important;
    border-style: solid !important;
    border-width: 5px 0 5px 5px !important;
    border-left-color: #ccc !important;
    margin-top: 5px !important;
    margin-right: -10px !important;*/
    
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff !important;
   
}

.dropdown-submenu.pull-left {
    float: none !important;
}

.dropdown-submenu.pull-left>.dropdown-menu {
   /* left: -100% !important;
    margin-left: 10px !important;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px; */
  
}