 #loginform
    {
        min-width:400px;
        height:510px;
        background-color:#ffffff;
        border:1px solid;
        border-color:#555555;
        padding:16px 16px;
        border-radius:4px;
        -webkit-box-shadow: 0px 1px 6px rgba(75, 31, 57, 0.8);
        -moz-box-shadow:     0px 1px 6px rgba(75, 31, 57, 0.8);
        box-shadow:              0px 1px 6px rgba(223, 88, 13, 0.8);
    }
    .modalBackground
    {      
        background-color:#333333;
        filter:alpha(opacity=80);
        opacity:0.8;
    }      
    .txt
    {
         color:#505050;   
    }
    .redstar
    {
        color: #FF0000;
    }       